*{
  font-family: Inter, sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  background-color: #F55A5A;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.header > .earth-icon {
  padding: 7px;
}
